@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./break-point-1004px.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body{
  font-size: 10px;
}
.tit-sec {
  font-size: 4rem;
}

.conteudo{
  font-size: 2rem;
}

.conteudo > div {
  font-size: 2rem;
}